<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot_mybatis_crud.mapper.EmpMapper">
<!--     resultType： 单条记录封装的类型-->
    <select id="list" resultType="com.example.springboot_mybatis_crud.pojo.Emp">
        select * from mybatis.emp where name like concat('%' ,#{name},'%') and gender = #{gender}
            and entrydate between #{begin} and #{end} order by update_time desc
    </select>
    
</mapper>