<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 <!--  1.导入spring的坐标spring-context，对应版本是5.2.10-->

    <!-- 2.配置bean
    bean标签标示配置bean
    id属性标示给bean起的名字
    class属性表示给bean定义的类型
    bean定义时id属性在同一个上下文中(配置文件)不能重复！！！
    -->
    <bean id="bookDao" class="com.aurora.dao.impl.BookDaoImpl"></bean>
    <bean id="bookService" class="com.aurora.service.impl.BookServiceImpl"></bean>
</beans>